<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gyant.sdksamplekotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".DisplayGyantViewWithPatientDataActivity"
            android:label="@string/title_activity_display_gyant_view_with_push_token"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayGyantViewWithListenerActivity"
            android:label="@string/title_activity_display_gyant_view_with_message_listener"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayGyantViewWithThemeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayGyantViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayGyantChatActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayFragmentActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>